<nav class="navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
        <p class="text-muted credit"><center><font color='#ffffff'>Developed by Nunu</font></center></p>
    </div>
</nav>