<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Alphabot - Auth</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top" role="navigation"></div>
    <div class="container">
        <%- body -%>
    </div>
    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>
