<html>
    <head>
		<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
		    <!-- Optional theme -->
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <style type="text/css" rel="stylesheet">
            #input {width:300}
       </style>
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>Alphabot</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Dashboard</a></li>
            <li class="dropdown">
				      <a href="#" class="-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/list_user">List User</a></li>
                <li><a href="/add_user">Add User</a></li>
              </ul>
            <li class="divider"></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
			      <li class="active"><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container custom-weight-modal">
      <%- body %>
    </div>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
    
    <script src="javascripts/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
    </body>
</html>
